#############################################################
# Terraform State Files
#############################################################

*.tfstate
*.tfstate.*

#############################################################
# Terraform Working Directory
#############################################################

.terraform/

#############################################################
# Terraform Plan Files
#############################################################

*.tfplan

#############################################################
# Variable Files Containing Secrets
#############################################################

terraform.tfvars
*.auto.tfvars

#############################################################
# Crash Logs
#############################################################

crash.log

#############################################################
# Editor Files
#############################################################

.vscode/

#############################################################
# Kubernetes Credentials
#############################################################

kubeconfig
kubeconfig.yaml